AIOHTTP_NO_EXTENSIONS
API_TIMEOUT
ARBITRAGE_CHECK_INTERVAL
ARBITRAGE_CROSS_TRIANGULAR
ARBITRAGE_DAILY_SUMMARY
ARBITRAGE_DAILY_SUMMARY_TIME
ARBITRAGE_INCLUDE_ALL_FEES
ARBITRAGE_LOG_TOP_N_PER_HOUR
ARBITRAGE_MIN_PROFIT_PERCENT
ARBITRAGE_MIN_VOLUME
ARBITRAGE_MODE
ARBITRAGE_PAIRS
ARBITRAGE_SIMPLE
ARBITRAGE_TELEGRAM_NOTIFICATIONS
ARBITRAGE_TRADING_ENABLED
ARBITRAGE_TRIANGULAR
ARBITRAGE_VIRTUAL_CAPITAL
BINANCE_API_KEY
BINANCE_API_SECRET
BYBIT_API_KEY
BYBIT_API_SECRET
CONSECUTIVE_LOSSES_THRESHOLD
DATABASE_BACKUP_ENABLED
DATABASE_BACKUP_PATH
DATABASE_PATH
DATA_DIRECTORY
DATA_PERSISTENCE
ELITE_CONFIDENCE_LEVEL
ELITE_SIGNAL_THRESHOLD
EMERGENCY_SHUTDOWN_PASSWORD
ENABLE_ARBITRAGE_SCANNER
ENABLE_CIRCUIT_BREAKER
ENABLE_EMERGENCY_SHUTDOWN
ENABLE_EXCHANGE_STOPS
ENABLE_PAPER_TRADING_SLIPPAGE
ENABLE_PERFORMANCE_ANALYTICS
ENABLE_SPOT_LOGGER
ENABLE_SPOT_TRADING
EXCHANGE
EXCHANGE_ENVIRONMENT
EXCHANGE_TP_ORDER_TYPE
FLASH_CRASH_THRESHOLD
FORCE_TRADES
FUTURES_AUTO_MIN_VOLUME
FUTURES_AUTO_TOP_N
FUTURES_EXCHANGE
FUTURES_FEE_PERCENT
FUTURES_MARGIN_MODE
FUTURES_MAX_DAILY_LOSS_PERCENT
FUTURES_MAX_DRAWDOWN_PERCENT
FUTURES_MAX_LEVERAGE
FUTURES_MAX_OPEN_POSITIONS
FUTURES_PAIRS
FUTURES_POSITION_SIZE_PERCENT
FUTURES_TAKE_PROFIT_PERCENT
FUTURES_TRADING_ENABLED
FUTURES_VIRTUAL_CAPITAL
GLOBAL_STOP_LOSS_ROE
HEALTH_CHECK_ENABLED
HEALTH_CHECK_INTERVAL
HEARTBEAT_INTERVAL
KUCOIN_API_KEY
KUCOIN_API_PASSPHRASE
KUCOIN_API_SECRET
LOG_API_CALLS
LOG_BACKUP_COUNT
LOG_ERROR_TRACES
LOG_FILE_PATH
LOG_LEVEL
LOG_MAX_BYTES
LOG_OUTPUT
LOG_PERFORMANCE
LOG_POSITION_REJECTIONS
LOG_RISK_MANAGEMENT
LOG_ROTATION
LOG_SYSTEM_EVENTS
LOG_TRADE_EXECUTION
MAX_API_ERRORS_PER_HOUR
MAX_DRAWDOWN_PERCENT
MAX_EQUITY_RISK_PERCENT
MAX_POSITION_SIZE
MAX_VOLATILITY_PERCENT
MIN_POSITION_SIZE
MIN_VOLUME_USDT
MONGODB_DATABASE
MONGODB_ENABLED
MONGODB_HOST
MONGODB_RETENTION_DAYS
NORMAL_SIGNAL_THRESHOLD
OKX_API_KEY
OKX_API_PASSPHRASE
OKX_API_SECRET
PAPER_TRADING_SLIPPAGE_PERCENT
RATE_LIMIT_BUFFER
REBALANCE_ON_PROFIT
REBALANCE_THRESHOLD
REQUIRE_CONFIRMATION_FOR_LIVE
RETRY_ATTEMPTS
RETRY_DELAY
SPOT_EXCHANGE
SPOT_FEE_PERCENT
SPOT_MAX_DAILY_LOSS_PERCENT
SPOT_MAX_DRAWDOWN_PERCENT
SPOT_PAIRS
SPOT_POSITION_SIZE_PERCENT
SPOT_STOP_LOSS_PERCENT
SPOT_TAKE_PROFIT_PERCENT
SPOT_TELEGRAM_NOTIFICATIONS
SPOT_TRADING_ENABLED
SPOT_USE_FULL_RISK_SYSTEM
SPOT_VIRTUAL_CAPITAL
SQLITE_ENABLED
STRATEGY_A1_EMA_FAST
STRATEGY_A1_EMA_SLOW
STRATEGY_A1_EMA_TREND
STRATEGY_A1_ENABLED
STRATEGY_A2_EMA_FAST
STRATEGY_A2_EMA_SLOW
STRATEGY_A2_EMA_TREND
STRATEGY_A2_ENABLED
STRATEGY_A2_RSI_HIGH
STRATEGY_A2_RSI_LOW
STRATEGY_A2_RSI_PERIOD
STRATEGY_A2_VOLUME_MULTIPLIER
STRATEGY_A3_ATR_MULTIPLIER
STRATEGY_A3_ATR_PERIOD
STRATEGY_A3_EMA_FAST
STRATEGY_A3_EMA_SLOW
STRATEGY_A3_EMA_TREND
STRATEGY_A3_ENABLED
STRATEGY_A3_SL_ROE
STRATEGY_A4_EMA_TREND
STRATEGY_A4_ENABLED
STRATEGY_A4_TIMEFRAME_HIGH
STRATEGY_A4_TIMEFRAME_LOW
STRATEGY_A5_ENABLED
STRATEGY_A6_ENABLED
TELEGRAM_ARBITRAGE_BOT_TOKEN
TELEGRAM_ARBITRAGE_CHAT_ID
TELEGRAM_ARBITRAGE_ENABLED
TELEGRAM_BOT_TOKEN
TELEGRAM_ENABLE_HOURLY_REPORTS
TELEGRAM_FUTURES_BOT_TOKEN
TELEGRAM_FUTURES_CHAT_ID
TELEGRAM_FUTURES_ENABLED
TELEGRAM_NOTIFICATIONS
TELEGRAM_REPORT_INTERVAL_HOURS
TELEGRAM_SPOT_BOT_TOKEN
TELEGRAM_SPOT_CHAT_ID
TELEGRAM_SPOT_ENABLED
TELEGRAM_USER_ID
TESTING_ADX_MIN
TESTING_MODE
TESTING_VOLUME_MULT
TIERED_RISK_ENABLED
TIMEFRAME
TRADE_FAILURE_HALT_HOURS
TRAILING_CAPTURE_ROE
TRAILING_STOP_ACTIVATION
TRAILING_STOP_DISTANCE
TRAILING_TARGET_ROE
TRAILING_TP_ACTIVATION
TRAILING_TP_DISTANCE
TRAILING_TP_ENABLED
